@{
   ViewBag.Title = "About";
   ViewBag.Description = "";
   Layout = "_Layout";
}
<div class="shadow-inset"></div>
<section class="welcome-area pb-4" id="welcome-1">
   <div class="header-token">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-self-center text-center">
                    <h1>About <strong>Martiscoin</strong></h1>
               <p>
                        Is a ✨ Groundbreaking Layer 1 ✨ , is inspired by Musk’s Mars immigration plan and Musk’s 2021 tweets on X (Here). The goal is to use innovative, cutting-edge algorithms to enable true decentralized finance in a future on Mars.
               </p>
                    <a href="https://github.com/martiscoin" target="_blank" class="btn-white-line"><i class="fab fa-github"></i> Browse Source on Github</a>
               &nbsp;
                    <a href="https://martiscoin.org/" target="_blank" class="btn-white-line"><i class="fas fa-globe"></i> martiscoin.org</a>
            </div>
         </div>
      </div>
   </div>
</section>
