@{
   ViewBag.Title = "About";
   ViewBag.Description = "";
   Layout = "_Layout";
}
<div class="shadow-inset"></div>
<section class="welcome-area pb-4" id="welcome-1">
   <div class="header-token">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-self-center text-center">
                    <h1>About <strong>Ouranos Project</strong></h1>
               <p>
                        “Ouranos” comes from the Greek word, symbolizing hope and the future, and representing the god of the sky.Ouranos project is an innovative cryptocurrency(new algorithm of proof-of-work) .
               </p>
                    <a href="https://github.com/ouranos-project" target="_blank" class="btn-white-line"><i class="fab fa-github"></i> Browse Source on Github</a>
               &nbsp;
                    <a href="https://www.xouranos.com/" target="_blank" class="btn-white-line"><i class="fas fa-globe"></i> www.xouranos.com</a>
            </div>
         </div>
      </div>
   </div>
</section>
